img {
  width: 85px;
  height: 85px;
}

.img {
  display: flex;
  justify-content: center;
  border: solid 2px rgb(177, 177, 177);
  border-radius: 50%;
}

.profile {
  display: flex;
  gap: 30px;
  /* margin-left: 20px; */
  align-items: center;
  /* justify-content: space-around; */
  width: 100%;
  padding: 14px 20px;
}

/* .line-separator {
  border-left: 1px solid rgb(177, 177, 177);
  height: 80px;
} */

.me {
  font-family: "Prompt", sans-serif;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.fullName {
  font-size: 24px;
}

.career {
  font-size: 16px;
  color: rgb(177, 177, 177);
}
