img {
  width: 100px;
  height: 100px;
}

.img {
  display: flex;
  justify-content: center;
  border: solid 2px rgb(177, 177, 177);
  border-radius: 50%;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  //  margin-left: 20px;
  align-items: center;
  justify-content: center;
  //  width: 100%;
  padding: 14px 20px;
}

/* .line-separator {
  border-left: 1px solid rgb(177, 177, 177);
  height: 80px;
} */

.me {
  font-family: "Prompt", sans-serif;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.fullName {
  font-size: 24px;
}

.career {
  font-size: 16px;
  color: rgb(177, 177, 177);
}

@media (max-width: 1600px) {
  img {
    width: 80px;
    height: 80px;
  }

  .profile {
    gap: 10px;
    padding: 7px 10px;
  }

  .fullName {
    font-size: 18px;
  }

  .career {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .fullName {
    font-size: 16px;
  }

  .career {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  img {
    width: 40px;
    height: 40px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    gap: 2px;
    //  margin-left: 20px;
    align-items: center;
    justify-content: center;
    //  width: 100%;
    padding: 1px 1px;
  }

  .fullName {
    font-size: 14px;
  }

  .career {
    display: none;
  }

  .me {
    padding-top: 4px;
  }
}
