.card {
  position: relative;
  width: 350px;
  height: 200px;
  /* background: linear-gradient(-45deg, #161616 0%, #000000 100%); original */
  background: linear-gradient(-45deg, #1d1d1d 0%, #313131 100%);
  /* color: #81818144; original */
  color: #999999af;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px;
  /* gap: 10px; */
  border-radius: 8px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 0;
  margin: auto;
  width: 374px;
  height: 230px;
  border-radius: 10px;
  background: linear-gradient(
    -45deg,
    var(--background1, rgb(231, 231, 231)) 0%,
    var(--background2, white) 40%
  );
  z-index: -10;
  pointer-events: none;
  /* transition: all 0.8s cubic-bezier(0.175, 0.95, 0.9, 1.275); original */
  transition: all 0.6s cubic-bezier(0.175, 0.95, 0.9, 1.275);
  /* box-shadow: 0px 20px 30px hsla(0, 0%, 0%, 0.521); original */
  box-shadow: 0px 20px 30px hsla(0, 0%, 0%, 0.815);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  width: 300px;
  height: 200px;
  background: linear-gradient(
    -45deg,
    var(--background3, white) 0%,
    var(--background4, rgb(214, 214, 214)) 100%
  );
  transform: translate3d(0, 0, 0) scale(0.45);
}

.card-body {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  color: #bebfc5;
}

.card-buttons {
  font-size: 18px;
  display: flex;
  justify-content: end;
  gap: 6px;
}

button {
  /* color: var(--button-color, #bebfc5); original */
  color: #bebfc5;
  font-weight: 400;
  background-color: transparent;
  /* border: 1px var(--button-border-color, #bebfc5) solid; original */
  padding: 4px 6px;
  cursor: pointer;
}

button:hover {
  color: var(--button-color, #bebfc5);
  border: 1px var(--button-border-color, #bebfc5) solid;
}

.card:hover::after {
  transition: all 0.2s cubic-bezier(0.175, 0.285, 0.82, 1.275);
}

.card:hover::before {
  transform: scaleX(1.02) scaleY(1.02);
  box-shadow: 0px 0px 30px 0px var(--background5, rgb(151, 151, 151));
}

/* Classe condicional para React */
.react-class {
  --background1: #0880d6;
  --background2: #61dafb;
  --background3: #0f12c2;
  --background4: #0880d6;
  --background5: #0f12c2;
  --button-color: #0880d6;
  --button-border-color: #0880d6;
}

/* Classe condicional para Vue */
.vue-class {
  --background1: #25a505;
  --background2: #008800;
  --background3: #00cc00;
  --background4: #018d13;
  --background5: #006d49;
  --button-color: #018d13;
  --button-border-color: #018d13;
}

/* Classe condicional para Angular */
.angular-class {
  --background1: #c20000;
  --background2: #f70303;
  --background3: #d30000;
  --background4: #f00000;
  --background5: #8d0000;
  --button-color: #f00000;
  --button-border-color: #f00000;
}
