@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap");

.radio-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  background-color: rgb(56, 56, 56);
  padding: 30px;
  border-radius: 8px;
  //   box-shadow: 1px 1px #0c0c0c;
  border: 3px solid #0c0c0c;
  margin-top: 10px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  appearance: none;
}

.radio-button__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 15px;
  color: #f2f2f2;
  /* font-family: "Roboto", monospace; */
  font-family: "Prompt", sans-serif;
  /* font-weight: 600; */
  /* letter-spacing: 1px; */
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.radio-button__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #555;
  /* transition: all 0.3s ease; */
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  background-color: var(--color, #ececec);
  border-color: transparent;
  transform: scale(0.8);
  box-shadow: 0 0 20px var(--shadow, #bdbdbd7c);
}

.radio-button__input:checked + .radio-button__label {
  color: var(--color, #ececec);
}

.radio-button__label:hover .radio-button__custom {
  transform: scale(1.1);
  border-color: var(--color, #e2e2e2);
  box-shadow: 0 0 20px -var(--shadow, #f1f1f1b2);
}

/* Classe condicional para React */
.react {
  --color: #00d8ff;
  --shadow: #0095ffc4;
}

/* Classe condicional para Vue */
.vue {
  --color: #00ad00;
  --shadow: #00ce1bb6;
}

/* Classe condicional para Angular */
.angular {
  --color: #e20000;
  --shadow: #ff0000be;
}

/* Classe condicional para Next */
.next {
  --color: #999999;
  --shadow: #818181d2;
}

/* Classe condicional para Java */
.java {
  --color: #fd6500;
  --shadow: #e45b00cb;
}

/* Classe condicional para Node */
.node {
  --color: #007525;
  --shadow: #00912ebe;
}

/* Classe condicional para C# */
.csharp {
  --color: #a230ff;
  --shadow: #9d26ffea;
}

/* Classe condicional para JavaScript */
// .javaScript {
//   --color: #f7df1e;
//   --shadow: #ebcf00bd;
// }

/* Classe condicional para TypeScript */
/* .typescript {
  --color: #0050fd;
  --shadow: #0059ffd8;
} */

@media (max-width: 1600px) {
  .radio-button-container {
    gap: 6px;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
  }

  .radio-button__label {
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 13px;
  }

  .radio-button__custom {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}

@media (max-width: 1200px) {
  .radio-button-container {
    gap: 6px;
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
  }

  .radio-button__label {
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 12px;
  }

  .radio-button__custom {
    position: absolute;
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 1000px) {
  .radio-button-container {
    // display: none;
    gap: 6px;
    padding: 6px;
    margin-top: 10px;
    border: 1px solid #0c0c0c;
  }

  .radio-button__custom {
    appearance: none;
    display: none;
  }

  .radio-button__label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin-bottom: 1px;
    position: relative;
    font-size: 14px;
    color: #f2f2f2;
    font-family: "Roboto", sans-serif;
    /* font-weight: 600; */
    /* letter-spacing: 1px; */
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }

  @media (max-width: 800px) {
    .radio-button-container {
      gap: 1px;
      padding: 2px;
      border: 1px solid #0c0c0c;
      display: flex;
      //   justify-content: center;
      //   align-items: center;
      margin-top: 10px;
      padding-bottom: 10px;
    }
  }

  .radio-button__label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 12px;
    // padding-left: 5px;
    // margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .radio-button__label {
    font-size: 12px;
  }

  .radio-button-container {
    gap: 5px;
    padding: 2px;
    border: 1px solid #0c0c0c;
    // justify-content: center;
    // line-height: 0.6rem;
    font-size: 12px;
    // align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 430px) {
  .radio-button__label {
    font-size: 10px;
  }

  .radio-button-container {
    gap: 6px;
    padding: 2px;
    border: 1px solid #0c0c0c;
    // align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
  }
}
