.input {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: #0d1117;
  justify-content: center;
  border-radius: 5px;
  gap: 7.5px;
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

span {
  text-transform: capitalize;
}

.value:not(:active):hover,
.value:focus {
  background-color: #21262c;
}

.value:focus,
.value:active {
  background-color: #1a1f24;
  outline: none;
}

.value-color::before {
  content: "";
  position: absolute;
  top: 36px;
  right: 0px;
  width: 100%;
  height: 3px;
  background-color: var(--color, white);
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value-color:checked::before {
  opacity: 1;
}

/* Classe condicional para React */
.react {
  --color: #0880d6;
}

/* Classe condicional para Vue */
.vue {
  --color: #008800;
}

/* Classe condicional para Angular */
.angular {
  --color: #c20000;
}
