.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(350px, 1fr)
  ); /* Responsive grid layout */
  gap: 44px; /* Space between cards */
  padding: 24px;
}

body {
  background-color: #212121;
  font-family: Roboto;
}
