.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(350px, 1fr)
  ); /* Responsive grid layout */
  gap: 40px; /* Space between cards */
  padding: 30px 40px 40px 40px;
}

body {
  background-color: #333333;
  font-family: Roboto;
}
